

.App-header{
  margin-top: 60px;
  text-align: center;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 400;
}



.App-footer{
  text-align: center;
  color: black;
  margin: 30px 0 ;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;
}

