@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


body{
  background-color: rgb(255, 238, 241) ;

}



.form{
    display: block;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
}

.question{
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;
}

.search-form{
    height: 45px;
    width: 100%;
    border: 1px solid rgb(237, 120, 183);
    border-radius: 3px;   
    padding-top: 2px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;  
    font-weight: 100px ;
    font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;

} 

.results-word{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #36363629;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;
  
}

h2{
  margin: 2px;
}

.question{
  font-size: 24px;
  margin-bottom: 10px;
 
}

form{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #36363629;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;

}


div .Meaning{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #36363629;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 300;
  
}

.suggested-words{
  font-size: 13px;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.588);
}
em{
  color: rgba(0, 0, 0, 0.667);
}

.open-source{
  text-decoration: none;
  color:rgb(237,120,183);


}

h3{
  font-family: 'Source Sans Pro', sans-serif; 
   font-weight: 500;
}

h2{
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: 500;
}

